@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #F9F9F9;
    --foreground: #000000;
    --para: #646464;
    --web-card: #FFFFFF;
    --web-card-foreground: #000000b3;
    --web-popover: #ffffff;
    --web-popover-foreground: #020817;
    --web-primary: #085BC5;
    --web-primary-foreground: #FFFFFF;
    --web-secondary: #082ec5;
    --websecondary-foreground: #0F172A;
    --web-muted: #BDC4D44D;
    --web-muted-foreground: #64748B;
    --web-accent: #F1F5F9;
    --webaccent-foreground: #0F172A;
    --web-success: #10792C;
    --web-success-foreground: #F8FAFC;
    --web-destructive: #F80E0E;
    --web-destructive-foreground: #F8FAFC;
    --web-border: #11a7f8;
    --web-input: #E2E8F0;
    --web-ring: #020817;
    --text-para: #595a5a;
    --light-theme: #f5fafc;
    --web-radius: 0.5rem;
    --sidebar-background: #0077B5;
    --sidebar-foreground: #4c91acaf;
    --sidebar-primary: #ffffff1a;
    --sidebar-primary-foreground: #FAFAFA;
    --sidebar-accent: #F4F4F5;
    --sidebar-accent-foreground: #18181B;
    --sidebar-border: #E5E7EB;
    --sidebar-ring: #3B82F6;
  }

  * {
    @apply border-[var(--web-border)];
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
  }

  body {
    @apply bg-[var(--background)] text-[var(--foreground)];
    scroll-behavior: smooth;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Source Serif Pro", sans-serif;
    font-weight: 500;
  }
}

/* Layout Utilities */
.space-top {
  margin-top: 80px;
}

.spaceBottom {
  margin-bottom: 80px !important;
}

@media screen and (max-width:1024px) {
  .space-top {
    margin-top: 60px !important;
  }

  .spaceBottom {
    margin-bottom: 60px !important;
  }
}

@media screen and (max-width: 769px) {
  .space-top {
    margin-top: 40px !important;
  }

  .spaceBottom {
    margin-bottom: 40px !important;
  }
}

/* Typography Overrides */
@media screen and (min-width:768px) {
  p {
    font-size: 18px;
  }
}

@media screen and (max-width:768px) {
  p {
    font-size: 16px;
  }
}

/* Components */
.theme-btn {
  border: 2px solid var(--web-primary);
  border-radius: 100px;
  padding: 10px 2rem;
  font-weight: 500;
  color: var(--web-primary);
  background: none;
  transition: background 0.2s, color 0.2s;
  cursor: pointer;
  font-size: 18px;
}

.theme-btn:hover {
  background: var(--web-primary);
  color: #fff;
  border-color: var(--web-primary);
}

.theme-btn-fill {
  cursor: pointer;
  padding: 10px 16px;
  margin: 0;
  position: relative;
  display: inline-block;
  border-radius: 100px;
  border: 2px solid var(--web-primary);
  overflow: hidden;
  background: var(--web-primary);
  transition: color 0.8s ease;
  z-index: 1;
  font-size: 18px;
  color: white;
}

.theme-btn-fill::after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, #225F8C, #225F8C);
  transition: left 0.5s ease;
  z-index: -1;
}

.theme-btn-fill:hover::after {
  left: 0;
}

/* MUI Overrides */
.custom-input .MuiOutlinedInput-root fieldset,
.custom-input .MuiOutlinedInput-root:hover fieldset,
.custom-input .MuiOutlinedInput-root.Mui-focused fieldset {
  border-color: var(--web-primary);
}

/* SweetAlert2 Overrides */
.swal2-confirm-custom {
  background-color: var(--web-primary) !important;
  color: #fff !important;
}

.swal2-cancel-custom {
  background-color: var(--web-muted-foreground) !important;
  color: #fff !important;
}

/* Utilities */
.hide-scrollbar {
  overflow-y: auto;
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none !important;
}

.filter-sidebar {
  position: fixed;
  right: 0;
  z-index: 9;
  top: 70px;
}

@media screen and (max-width: 576px) {
  .filter-sidebar {
    right: -12px;
    top: 48px;
  }
}

.health-table-header-style {
  background-color: var(--web-primary) !important;
  padding: 4px 8px;
  color: white;
  font-weight: 500;
  text-align: center;
}

/* Carousel Overrides */
.container .react-multi-carousel-dot--active button {
  background-color: var(--web-primary) !important;
  border-color: var(--web-primary) !important;
  width: 30px !important;
  border-radius: 8px;
}

.react-multi-carousel-dot button {
  background-color: #bfc3c5;
  border-color: #bfc3c5 !important;
}

.react-multi-carousel-dot-list {
  bottom: 0;
}

.react-multi-carousel-track {
  top: -8px;
}
