.custom-btn {
  @apply border border-[#0D18ED] bg-transparent relative;
}

/* Corner squares */
.corner {
  position: absolute;
  width: 8px;
  height: 8px;
  border: 1px solid #0D18ED;
  /* Tailwind blue-600 */
  background: transparent;
}

/* Corner positions */
.top-left {
  top: -6px;
  left: -6px;
}

.top-right {
  top: -6px;
  right: -6px;
}

.bottom-left {
  bottom: -6px;
  left: -6px;
}

.bottom-right {
  bottom: -6px;
  right: -6px;
}
